:host {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --fab-ui-tooltip-bg: #3c3c3c;
}

.tooltip {
  visibility: hidden;
  min-width: 120px;
  max-width: 500px;
  padding: 0.5rem 1.1rem;
  background-color: var(--fab-ui-tooltip-bg);
  color: #fff;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;

  /* Tooltip arrow */
  &.top {
    bottom: calc(100% + 5px);

    &:not(.no-arrow)::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: var(--fab-ui-tooltip-bg) transparent transparent transparent;
    }
  }

  &.bottom {
    // add size of arrow
    top: calc(100% + 5px);

    &:not(.no-arrow)::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent var(--fab-ui-tooltip-bg) transparent;
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}
